body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form_signin{
  width: 55%;
  margin : 0 auto
}

.title{
  margin-bottom: 2rem;
  margin-top : 3rem;
  font-size: 3rem;
  text-decoration: underline;
}

.container{
  width: 80%;
  margin : 0 auto
}

.btn_description{
  margin-right: 0.5rem;
  color : white
}

.formLogin{
  width: 46%;
  margin: 0 auto;
}

.img_detail_product{
  width: 60%;
  height: 30%;
  display: block;
  margin : 0 auto;
  padding : 1rem
}

.border_img_detail{
  width: 100%;
  height: auto;
  border : 1px solid black
}

.price_detail_product{
  border-top : 1px solid black;
  text-decoration: underline;
  padding: 1rem 0.5rem;
  text-align : center;
  font-weight: bold
}

.titre_detail_product{
  text-align: center;
  font-weight: bold
}

.description_product{
  border-top : 1px solid black
}

.title_description_product{
  border-top : 1px solid black;
  padding: 1rem 1rem 1rem 0.5rem;
  text-decoration: underline
}

.text_description_product{
  padding : 0.5rem 0.5rem;
}

.title_feature_product{
  text-decoration: underline;
  border-top: 1px solid black;
  padding: 1rem 0.5rem;
}

.text_feature_product{
  padding: 0.5rem 0.5rem;
}

.signout_title{
  font-size: 3.5rem;
  font-weight: bold;
  margin-top : 30vh;
  text-align: center;
}

.signout_text{
  font-size: 1.5rem;
  text-align: center;
}